@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", Arial;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	background: transparent;
	padding: 30px 0;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	color: white;

}

.navlist {
	display: flex;
}

.navlist a {
	color: white;
	margin-left: 60px;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s;
}

.navlist a:hover {
	border-bottom: 2px solid white;
}

#menu-icon {
	display: none;
	color: white;
	font-size: 30px;
	z-index: 101;
	cursor: pointer;
}

.hero {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.hero-text {
	padding: 0 25%;
}


.hero-text h5 {
	font-size: 14px;
	font-weight: 400;
	color: white;
}

.hero-text h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 90px;
	line-height: 1;
	color: white;
	margin: 0 0 45px;
}

.hero-text h4 {
	font-size: 18px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.hero-text p {
	color: white;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}

.hero-img img {
	width: 700px;
	height: auto;
}

.hero-text a {
	display: inline-block;
	color: white;
	background: #4d9559;
	border: 1px solid transparent;
	padding: 12px 30px;
	line-height: 1.4;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition:  all .55s ease;
}

.hero-text a:hover {
	background: transparent;
	border: 1px solid white;
	transform: translateX(8px);
}

.hero-text a.ctaa {
	background: transparent;
	border: 1px solid white;
	margin-left: 20px;
}

.hero-text a.ctaa i {
	vertical-align: middle;
	margin-right: 5px;
}


.icons {
	position: absolute;
	top: 50%;
	padding: 0 5% 0 2%;
	transform: translateY(-50%);
}

.icons i {
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: white;
	transition: all .5s ease;
}

.icons i:hover {
	color: #4d9559;
	transform: translateY(-5px);
}

.scroll-down {
	position: absolute;
	bottom: 6%;
	right: 9%;
}

.scroll-down i {
	display: block;
	padding: 12px;
	font-size: 26px;
	color: white;
	background: #4d9559;
	border-radius: 50%;
	transition: all .5s ease;
}

.scroll-down i:hover {
	transform: translateY(-5px);
}